body {
	width: 900px
}

h1 {
	font-family: "Lobster", Sans-serif;
	margin-left: 2%;
}

div {
    margin-left: 1%;
}

textarea {
	width: 720px;
	height: 160px;
}

.addPost {
	float: left;
}

.posted {
	font-family: "Slabo", Sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: dashed;
	margin: 1%;
	padding: 1%;
}