body {
	position: absolute;
	width: 70%;
	left: 15%;
	overflow-y: auto;
}

h1 {
	font-family: "Lobster", Sans-serif;
	margin: 1% 3% 0%;
	display: inline-block;
}

div {
    margin-left: 1%;
}

textarea {
	width: 96%;
	height: 160px;
	margin-left: 2%;
	margin-right: 2%;
}

a {
	float: right;
}

.post input {
	margin-left: 2%;
}


.addPost {
	float: left;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.postblock {
	float: left;
	font-family: "Slabo", Sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: dashed;
	margin: 1% 0% 1% 2%;
	padding: 0.5%;
	width: 97%;
}

.buttons {
	box-sizing: border-box;
	float: right;
}

.buttons a {
	font-weight: bold;
	color: #961C00;
}

.user {
	float:right;
	margin-right: 1%;
	padding-right: 1%;
	box-sizing: content-box;
}

.welcome {
	float: right;
	float:right;
	margin-right: 1%;
	padding-right: 1%;
	box-sizing: content-box;
}

.postuser span {
	font-weight: bold;
}
