body {
	width: 900px
}

h1 {
	font-family: "Lobster", Sans-serif;
	margin: 1%;
	margin-left: 2%;
	box-sizing: border-box;
}

div {
    margin-left: 1%;
}

textarea {
	width: 98%;
	height: 160px;
	margin-right: 2%;
}

.addPost {
	float: left;
	margin-left: 2%;
	margin-top: 1%;
	margin-bottom: 1%;
}

.posted {
	font-family: "Slabo", Sans-serif;
	font-size: 12px;
	box-sizing: border-box;
	border-width: 1px;
	border-style: dashed;
	margin: 1%;
	padding: 1%;
}

.login {
	box-sizing: border-box;
	float: right;
	margin: 1%;
	margin-right: 2%;
}